{% load static %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
var original_link = "{% url 'cart:add-coupon' order.id %}";
    $('#code').on('change', function(){
        $('.button').attr('href', original_link);
        code = document.getElementById("code").value;
        var new_href = $('.button').attr('href') + '?coupon_code=' + code;
        $('.button').attr('href', new_href);
    });
</script>